/* Skills.css */

.skill-bx {
    background: none;
    border-radius: 4rem;
    margin-top: -3.75rem;
}

.skill h2 {
    font-size: 2.8125rem;
    font-weight: 700;
    text-align: center;
}

.skill .front-back {
    display: flex;
}

/* CarouselContainer.css */

/* Estilos para hacer los carruseles responsive y mostrarlos uno al lado del otro */
.carousels {
    display: flex;
    flex-wrap: nowrap;
    /* Evita que los carruseles se envuelvan a la siguiente línea */
    overflow-x: auto;
    /* Permite desplazamiento horizontal si los carruseles son más anchos que el contenedor */
}

.carousels>* {
    width: 50%;
    /* Mostrar dos carruseles uno al lado del otro, ajusta según sea necesario */
}