/************ Footer Css ************/
.footer {
    padding: 0 0 0 0;
    background-image: url('../../assets/img/footer-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer h1 {
    font-weight: 6rem;
    font-size: 3rem;
    color: #B8B8B8;
    letter-spacing: .0313rem;
    margin-top: 1.25rem;
}