/************ Footer Css ************/
.footer {
    padding: 0 0 0 0;
    background: linear-gradient(90.21deg, #005281 -5.91%, rgb(3, 3, 3) 111.58%);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer h1 {
    font-weight: 6rem;
    font-size: 3rem;
    color: #B8B8B8;
    letter-spacing: .0313rem;
    margin-top: 1.25rem;
}